<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>{% block title %}{{ title }}{% endblock title %}</title>
</head>
    <a href="{{ url_for('index') }}">Главная</a>
    <a href="{{ url_for('fridge') }}">Холодильник</a>
    <a href="{{ url_for('user')}}">Профиль</a>
    <a href="{{ url_for('logout') }}">Выход</a>
    <h2>{{ title }}!</h2>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
  {% endwith %}
  {% block content %} {% endblock content %}
<body>
</body>
</html>